






/*top*/
.top{background: #323130;}
.top1{width: 1222px;height: 70px;margin: 0 auto;}
.top1-1{width: 80px;height: 70px;float: left;}
.top1-2{width: 240px;height: 70px;float: right;line-height: 70px; }
.top1 img{margin-left:21px; }
.top1 a{margin: 0 10px;color: #999999;}
.top1 a:hover{color: #d0a82f;}


/*zb*/
.zb{width:100%;height: 779px;background:#fdf8f4;}
.zb1{width: 1222px;height: 779px;background: url(../img/login_03.jpg) no-repeat;margin: 0 auto;}
.zb1 .form{width: 376px;height: 430px;background-color: #fff;}
  
.f1{width: 376px;height: 70px;line-height: 70px;color: #f19108;
	font-size: 18px;font-weight: bolder;text-align: center;}
.f2,.f3,.f4,.f5,.f6,.f7,.f8{margin-left: 31px;}
.f2 input ,.f3 input{width: 308px;height: 48px;border: 1px #dedede solid;}
.f2{margin-bottom: 16px;}
.f2 input{background:url(../css/img/yonghu.png) no-repeat right;}
.f3 input{background:url(../css/img/mima.png) no-repeat right;}
.f3{margin-bottom: 8px;}
.f4{margin-bottom: 33px;}
.f4 input{width: 21px;height: 11px;border: 1px #dedede solid;}
.f5 input{border: none;width: 310px;height:50px;color: #fff;margin-bottom: 15px;
	font-size: 15px;font-weight: bolder;background-color: #f19108;}
.f6{margin-bottom:17px;}
.f8{margin-top: 30px;}
.pa1 a{color: #f19108;}
.f8 .pa2 a{margin-left: 80px;}

.form{float: right;margin-top: 150px;margin-right: 11px;}












/*bottom*/
.bottom1{width:1222px;height:200px;margin: 0 auto;line-height: 21px;}
.box1{width: 172px;height:184px;float: left;}
.box1 p{color: #000;font-weight: bold;padding:24px 0 12px 0 ;}
.b1{padding-left: 21px}
.box1 a{color: #999999;font-size:11px;}
.box1 a:hover{color: #463b7f;}
.box2{width: 280px;height: 184px;float: left;}
.box2-p1{color: #000;font-weight: bold;padding:24px 0 12px 0 ;font-size: 11px;}
.box2-p2{font-size: 11px;}
.box2 ul{width: 90px;height: 90px;float: left;padding-top: 5px;}
.box2 ul a{color: #999999;font-size:11px;}
.box2 ul a:hover{color: #463b7f;}
.box3{width: 172px;height: 184px;float: left}
.box3 .pp1{padding:25px 0  10px 120px;}
.box3 .pp2{padding:0 0  10px 100px;}

.bottom2{width: 100%;height: 39px;background: #463b7f;}
.b2{width:1222px;height: 39px;margin:0 auto;}
.bottom2 .b-pic{margin-left: 35px;}



.b3{width:1222px;height: 223px;margin:0 auto;color: #999999;}
.b3 p{line-height: 21px;}
.b3-1{width:1222px;height: 223px;float: left;
	font-size: 11px;line-height: 31px;padding-left: 21px;}

.p1{padding-top: 22px;}
.p5{padding-top: 10px;}	
.b3-1 a{padding-right: 15px;color: #333333;}
.b3-1 a:hover{color: #463b7f;}
.b3-1 .p1{margin-left:500px;}
.b3-1 .p2{margin:4px 0 7px 330px; }
.b3-1 .p3{margin-left:350px;}
.b3-1 .p4{margin-left:420px;}
.b3-1 .p4 span,.b3-1 .p3 span{margin: 0 10px;}
.b3-1 .p5{margin-left:320px;}
.b3-1 .p5 a {padding-right: 8px;}
