
body,html{width: 100%;background: #ededed;}


.md2:after{content: ".";clear: both;display: block;height: 0;overflow: hidden;visibility: hidden;}
/*top*/
.top{width: 1222px;height: 163px;margin: 0 auto;background: #fff;}
.top-left{width: 260px;height:163px;}
.top-right{width: 962px;height: 163px;}
.top-left,.top-right,.l-s,.l-x{float: left;}
.l-s{width:180px;height:114px;padding-top: 15px;margin-left: 11px;}
.l-x{width: 180px;height: 34px;background: #382f6b;margin-left: 11px; 
	font-size: 12px;color: #fff;text-align: center;line-height:34px;font-weight: bold; }
.r-s{width:962px;height:35px;color: #999999;}
 .r-s a{color: #999999;}
 .r-s a:hover{color: #1e2f96;}
 .r-s span{float: right;padding: 10px 15px 0 15px;}
.r-x{width:962px;height:128px;}
.r1{width: 842px;height: 128px;}
.r1-1{width: 842px;height: 94px;}	
.r1-1 ul li{float: left;padding-left: 25px;margin-top:10px;}
.r1-1 ul li a{color: #999999;}
.r1-1 ul li a:hover{color:#fe002a;text-decoration: underline;}
.r1-1 .inp{width:485px;height:35px;background:  #463b7f;margin-top:18px;}
.r1-1 .inp1{width: 412px;height: 31px;border: 2px solid #463b7f;float: left;}
.r1-1 .inp2{width: 69px;height: 35px;background:  #463b7f;border: none;float: left;color: #fff;}
.r1-2{width: 842px;height: 34px;}
.r1-2 ul{width:842px; height: 34px;float: left;}
.r1-2 ul li{height: 34px;float: left;padding:10px 20px 4px 20px;}
.r1-2 ul .li1{padding-left: 0;}
.r1-2 ul li a{color: #333333;}
.r1-2 a:hover{color: #463b7f;}
.r2{width:120px;height:128px;}
.r1,.r2,.r1-1,.r1-2{float: left;}
#app{margin: 12px;}

/*md*/
#md{width:1220px;margin :0 auto;}
/*md1*/
.md1{width: 1220px;height:270px;background: #fff;}
.md1>p{padding: 29px 0 21px 0;padding-left: 10px;background: #ededed;}
.md1>p span{float: right;color: #666;}
.md1 .ul1,.md1 .ul2{float: left;}
.md1 .ul1 li{width: 110px;height: 50px;background: #f5f5f5;padding-left:30px;
	border-bottom: 1px dashed #ededed;line-height: 50px;color: #666;}
.md1 .ul2 li{width: 1080px;height: 50px;border-bottom: 1px dashed #ededed;line-height: 50px;}
.md1 ul li a{color: #666666;padding-left:40px;}
.md1 ul li a:hover{color: red;}
#md{clear:both;}

/*md2*/
.md2{background: #fff;height: auto;}
.pro{width: 270px;height: 430px;float: left;margin:0 15px 15px 15px;}

.pro .pic{width: 240px;height: 290px;margin:15px;border-bottom: 1px solid #ede;}
.pro p{margin:25px;}

                                                                                                                                







/*xh*/
.xh{width:1200px;height:270px;margin:0 auto;padding-bottom:30px;}

.xh .content{width:1150px;height:230px;background: #fff;padding-left: 50px;}
.xh .cont1{width: 160px;height: 170px;padding: 30px ;float: left;}
.xh .pic{width: 120px;height: 120px;border: 1px #999999 solid;background: #0f0;margin-left:20px;}
.xh .pic img{width: 120px;height: 120px;}
.xh .sk1{white-space: nowrap;overflow: hidden;color: #666666}
.xh .sk2{margin-left: 50px;color:#666666;}
.xh .sk2 span{font-weight: bold;color:#666666;}




/*bottom*/
.bottom1{width:1222px;height:184px;margin: 0 auto;line-height: 21px;background: #fff;}
.box1{width: 172px;height:184px;float: left;}
.box1 p{color: #000;font-weight: bold;padding:24px 0 12px 0 ;}
.b1{padding-left: 21px}
.box1 a{color: #999999;font-size:11px;}
.box1 a:hover{color: #463b7f;}
.box2{width: 337px;height: 184px;float: left;}
.box2-p1{color: #000;font-weight: bold;padding:24px 0 12px 0 ;font-size: 11px;}
.box2-p2{font-size: 11px;}
.box2 ul{width: 90px;height: 90px;float: left;padding-top: 5px;}
.box2 ul a{color: #999999;font-size:11px;}
.box2 ul a:hover{color: #463b7f;}
.bottom2{width: 100%;height: 39px;background: #463b7f;}
.b2{width:1222px;height: 39px;margin:0 auto;}
.bottom2 .b-pic{margin-left: 35px;}
.b3{width:1222px;height: 223px;margin:0 auto;color: #999999;}
.b3-1{width:945px;height: 223px;float: left;
	font-size: 11px;line-height: 31px;padding-left: 21px;}
.p1{padding-top: 22px;}
.p4{padding-top: 10px;}	
.b3-1 a{padding-right: 15px;color: #999999;}
.b3-1 a:hover{color: #463b7f;}
.g{padding-left: 20px;}
.b3-2{width: 256px;height: 223px;float: left;}
.b3-2 img{margin:25px 15px 10px 0; }

.b3-2 span{margin: 28px;color: #333333;}